<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Constructora</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery.min.js"></script>
<!--<script src="js/jquery.easydropdown.js"></script>-->
<!--start slider -->
<link rel="stylesheet" href="css/fwslider.css" media="all">
<script src="js/jquery-ui.min.js"></script>
<script src="js/fwslider.js"></script>
<!--end slider -->
<script type="text/javascript">
        $(document).ready(function() {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function() {
                $(".dropdown dd ul").toggle();
            });
                        
            $(".dropdown dd ul li a").click(function() {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });
                        
            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function() {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
     </script>
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
			  <div class="col-md-12">
				 <div class="header-left">
					 <div class="logo">
						<a href="index.html"><img src="images/logo.png" alt=""/></a>
					 </div>
					 <div class="menu">
						  <a class="toggleMenu" href="#"><img src="images/nav.png" alt="" /></a>
						    <ul class="nav" id="nav">
						    	<li><a href="#">Nosotros</a></li>
						    	<li><a href="#">Sedes</a></li>
								<li><a href="#">Contactanos</a></li>								
								<div class="clear"></div>
							</ul>
							<script type="text/javascript" src="js/responsive-nav.js"></script>
				    </div>							
	    		    <div class="clear"></div>
	    	    </div>
	            <div class="header_right">
	    		  <!-- start search-->
				      <div class="search-box">
							<div id="sb-search" class="sb-search">
								<form>
									<input class="sb-search-input" placeholder="Buscar" type="search" name="search" id="search">
									<input class="sb-search-submit" type="submit" value="">
									<span class="sb-icon-search"> </span>
								</form>
							</div>
						</div>
						<!----search-scripts---->
						<script src="js/classie.js"></script>
						<script src="js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
						<!----//search-scripts---->
	       </div>
	      </div>
		 </div>
	    </div>
	</div>
	<div class="banner">
	<!-- start slider -->
       <div id="fwslider">
         <div class="slider_container">
            <div class="slide"> 
                <!-- Slide image -->
               <img src="http://construsoft.es/wp-content/uploads/2017/08/Imagen-Constructora-Paramount-3.jpg" class="img-responsive" alt=""/>
                <!-- /Slide image -->
                <!-- Texts container -->
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <!-- Text title -->
                        <h1 class="title">Grupo Dhamir</h1>
                        <!-- /Text title -->
                        <div class="button"><a href="#">Más Detalles</a></div>
                    </div>
                </div>
               <!-- /Texts container -->
            </div>
        </div>
        <div class="timers"></div>
        <div class="slidePrev"><span></span></div>
        <div class="slideNext"><span></span></div>
       </div>
       <!--/slider -->
      </div>
	  
	<div class="content-bottom">
		<div class="container">
			<div class="row content_bottom-text">
			  <div class="col-md-7">
				<h3>Quiénes Somos?<br>Grupo Dhamir</h3>
				<p class="m_1">CONSTRUCTORA Dhamir cumple su misión poniendo a disposición de sus clientes la experiencia adquirida en el transcurso de más de 29 años de trabajo serio y profesional, ofreciendo un gran equipo de profesionales altamente capacitados para desarrollarse exitosamente en el campo de la construcción. Somos una empresa, que en el transcurso del tiempo, ha logrado posicionarse no solo como una de las compañías más importantes del país, sino que, además, hemos logrado obtener prestigio y reconocimiento de nuestros clientes. Disponemos de una flota de equipos de alto rendimiento para realizar trabajos complejos, modernos y de tecnología avanzada.</p>
			  </div>
			</div>
		</div>
	</div>
	<div class="features">
		<div class="container">
			<h3 class="m_3">Asociaciones</h3>
			  <div class="row">
				<div class="col-md-3 top_box">
				  <div class="view view-ninth"><a href="#">
                    <img src="images/pic1.jpg" class="img-responsive" alt=""/>
                   </a> </div>
                </div>

                <div class="col-md-3 top_box">
				  <div class="view view-ninth"><a href="#">
                    <img src="images/pic2.jpg" class="img-responsive" alt=""/>
                   </a> </div>
                </div>

                <div class="col-md-3 top_box">
				  <div class="view view-ninth"><a href="#">
                    <img src="images/pic3.jpg" class="img-responsive" alt=""/>
                   </a> </div>
                </div>

                <div class="col-md-3 top_box">
				  <div class="view view-ninth"><a href="#">
                    <img src="images/pic4.jpg" class="img-responsive" alt=""/>
                   </a> </div>
                </div>
                
                
			</div>
		 </div>
	    </div>
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<ul class="footer_box">
							<h4>Sedes</h4>
							<li><a href="#">Arequipa</a></li>
							<li><a href="#">Lima</a></li>
							<li><a href="#">Cuzco</a></li>
							<li><a href="#">Cajamarca</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<ul class="footer_box">
							<h4>Nosotros</h4>
							<li><a href="#">Mision</a></li>
							<li><a href="#">Vision</a></li>
							<li><a href="#">Equipos</a></li>
							<li><a href="#">Aliados</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<ul class="footer_box">
							<h4>Contacate con Nosotros</h4>
							<li><a href="#">Contactanos</a></li>
							<li><a href="#">Donde nos Encuentras</a></li>
							
						</ul>
					</div>
					<div class="col-md-3">
						<ul class="footer_box">
							<h4>Subscribete</h4>
							<div class="footer_search">
				    		   <form>
				    			<input type="text" value="Ingresa tu Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Ingresa tu Email';}">
				    			<input type="submit" value="Go">
				    		   </form>
					        </div>
							<ul class="social">	
							  <li class="facebook"><a href="#"><span> </span></a></li>
							  <li class="twitter"><a href="#"><span> </span></a></li>
							  <li class="instagram"><a href="#"><span> </span></a></li>	
							  <li class="pinterest"><a href="#"><span> </span></a></li>	
							  <li class="youtube"><a href="#"><span> </span></a></li>										  				
						    </ul>
		   					
						</ul>
					</div>
				</div>
				<div class="row footer_bottom">
				    <div class="copy">
			           <p>© 2018 Andormeda</p>
		            </div>
   				</div>
			</div>
		</div>
</body>	
</html>